@model Author
@{
    ViewData["Title"] = "Edit Author";
}
<hr />

<link rel="stylesheet" href="~/css/DataCard.css" />

<div class="row">
    <div class="col-6 offset-3 border border-dark p-4 rounded-top">
        <h4 class="text text-center">Author Information</h4>
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nationality"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Path" hidden ></label>
                <input asp-for="Path" hidden value="@Model.Path" class="form-control" />
                <span asp-validation-for="Path" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <label asp-for="ImagePath"></label>
                    <input asp-for="ImagePath" class="form-control" type="file" id="ChoseImage" />

                </div>
                <div class="col-4">
                    <img src="/Content/Image/Author/@Model.Path" id="PreviewImage" style="width:100px;height:100px;border:1px solid red;border-radius:10px; padding:10px;" alt="Author Image" />
                </div>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
                <a class="btn btn-secondary float-end" asp-action="Details" asp-route-id="@Model.Id"><i class="bi bi-backspace"></i>&nbsp;Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="~/js/previewimage.js"></script>
}