@model Tuple<Book,int,string>
<div class="container p-1">
    <div class="row pt-1">
        <div class="col-6">
            <h2 class="text-primary">Book Details</h2>
        </div>
        <div class="col-6 text-end">

            <a  asp-action="Edit" asp-route-id="@Model.Item1.Id" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>&nbsp;Edit
            </a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                <i class="bi bi-trash3"></i> Delete
        </button>
        </div>
    </div>
    <div class="row pt-3" >
        <div class="col-3">
            <div> 
                @{
                    var imagePath = "~/Content/Image/Author/" + Model.Item1.Path;
                    <img src="@Url.Content(imagePath)" style="width:200px;height:250px;border:1px solid black;border-radius:10px; padding:20px;" />
                }
             </div>
        </div>
        <div class="col">
            <div class="row-3 mb-2" style="font-size:30px">Title:&nbsp;@Model.Item1.Title</div>
            <div class="row-3 mb-2" style="font-size:30px">Language:&nbsp;@Model.Item1.Language</div>
            <div class="row-3 mb-2" style="font-size:30px">Author:&nbsp;@Model.Item3</div>
            <div class="row-3 mb-2" style="font-size:30px">Description:&nbsp;@Model.Item1.Description</div>
        </div>
     </div>
    
</div>



    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you Author @Model.Item1.Title Inforation all of his books also will be deleted.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="bi bi-x-octagon"></i>&nbsp;Close</button>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Item1.Id">  <i class="bi bi-trash3"></i> &nbsp;Confirm</a>
                </div>
            </div>
        </div>
    </div>
